
*.hi
*.o
*.pyc
*.x

*.csv
*.ssv
*.info
*.pgm

*.png
*.jpg
*.avi

*.svg
*.ps
*.dvi
*.pdf
*.log
*.aux
*.toc
*.bbl
*.blg

*octave-core

fftw/fourier
numerical/main
numerical/fourier
numerical/doc/
wikihaskell/main

