
*.hi
*.o
*.pyc

*.csv

fftw/fourier
numerical/main
numerical/doc/
wikihaskell/main
fftw/*.png
doc-ger/*.ps
doc-ger/*.dvi
doc-ger/*.pdf
doc-ger/*.log
doc-ger/*.aux
povray/*.png
povray/solenoid/*.png


